<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="login.css" rel="stylesheet">
    </head>
    <body>
        <div class="mainheader">
            <div class="logo">
                 <img src="6341a544db34088271b6c092fc1b345c.jpg">
            </div>
            <nav>
                <a href="home.html">Home</a>
                <a href="">Contact</a>
                <a href="">Services</a>
                <a href="">About</a>   
            </nav>
            <div class="btn">
                <button> HelpLine </button>
            </div>
        </div>
         <div class="login-form">
             <h1>Login Form</h1>
             <form action="#" method="post">
                <input id="user" type="email" name="user" placeholder="Email">
                <input id="pass" type="password" name="password" placeholder="Password">
                <br>
                <p id="two"><a href="">Forgot Password?</a></p>
                <button type="submit"> Login </button>
             </form>

         </div>
    </body>
</html>