<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/204ac6021f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style1.css') }}">
    </head>
    <body>
        <header>
            <div class="mainheader">
                <div class="logo">
                     <img src="../static/Doc_logo.jpg">
                </div>
                <nav>
                    <a href="">होम पेज</a>
                    <a href="#contact">संपर्क</a>
                    <a href="">सेवाएं</a>
                    <a href="">के विषय में</a>   
                </nav>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      भाषा चुनें
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{{ url_for('home') }}">English</a>
                      <a class="dropdown-item" href="#">Hindi</a>
                      <a class="dropdown-item" href="{{ url_for('homeM') }}">Marathi</a>
                    </div>
                  </div>
                <div class="btn">
                    <button> हेल्पलाइन</button>
                </div>
            </div>

            <main>
                <section class="left">
                    <p id="one">
                        अंदर रहें, सुरक्षित रहें <p>
                    <h2> हम आपकी देखभाल के लिए यहां हैं</h2>
                    <h2> हम सबसे अच्छे डॉक्टर हैं</h2>
                    <p id="two">24/7 देखभाल उपलब्ध है</p>
                    <button><a href="{{ url_for('loginH') }}">रोगी लॉगिन</a></button>
                    <button><a href="{{ url_for('dlogin') }}">डॉक्टर लॉगिन</a></button> 
                </section>
            </main>
            
        </header>
        <div class="Main">
            <div class="images">
              <div class="IMG">
                <div class="imgone"><img src="https://tiimg.tistatic.com/fp/1/006/395/paracetamol-tablets-500-mg-515.jpg" alt=""></div>
                <div class="imgtwo"><img src="https://i-cf65ch.gskstatic.com/content/dam/cf-consumer-healthcare/panadol/en_in/adult/productshots/crocinadvance/455x455.jpg?auto=format" alt=""></div>
                <div class="imgthree"><img src="https://newassets.apollo247.com/pub/media/catalog/product/b/e/ben0053.jpg" alt=""></div>
                <div class="imgfour"><img src="https://5.imimg.com/data5/RF/JI/KY/SELLER-516157/platorich-dengue-fever-tablet-500x500.jpeg" alt=""></div>
               </div>
                <div class="IMGO">
                 <div class="imgfive"><img src="https://www.electral.co.in/images/products/reconstitution-powder.png" alt=""></div>
                 <div class="imgsix"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/78/Strepsils.jpg/1280px-Strepsils.jpg" alt=""></div>
                 <div class="imgseven"><img src="https://www.netmeds.com/images/product-v1/600x600/45285/calpol_500mg_tablet_15_s_0.jpg" alt=""></div>
                 <div class="imgeight"><img src="https://www.kroger.com/product/images/large/front/0030045048102" alt=""></div>
                </div>
              </div>
              <div class="para">
                <h3>गोलियाँ</h3>
                <p>“जब भी हो सके हमेशा हंसें, यह सस्ती दवा है।”</p>
              </div>
            </div>
            <section class="mainsix">
              <p class="hola">आपको सर्वोत्तम देखभाल के लिए सर्वोत्तम चिकित्सक उपलब्ध कराना</p>
                <div class="blog">
                    <div class="blog1">
                      <div class="B1">
                        <img src="https://debatechamber.com/wp-content/uploads/2017/02/bigstock-Portrait-of-a-friendly-female-26984102-2-238x300.jpg" alt="study">
                      </div>
                      <h4>डॉ. अमेलिया खान</h4>
                      <h6>हड्डी रोग विशेषज्ञ</h6>
                      <div class="paragraph">
                        <button><a href="{{ url_for('dp1') }}" style="text-decoration: none;">View More</a></button>
                      </div>
                    </div>
                    <div class="blog2">
                      <div class="B1">
                        <img src="https://www.miraldental.com/wp-content/uploads/2018/12/doctor-img2.png" alt="study">
                      </div>
                      <h4>डॉ. अँटनी रॉबिन्स</h4>
                      <h6>सलाहकार चिकित्सक</h6>
                      <div class="paragraph">
                          <button><a href="{{ url_for('dp2') }}" style="text-decoration: none;">View More</a></button>
                      </div>
                      
                    </div>
                    <div class="blog3">
                      <div class="B1">
                        <img src="https://telemedizin.one/wp-content/uploads/2019/12/doctor07.jpg" alt="study">
                      </div>
                      <h4>डॉ. अमेलिया राइट</h4>
                      <h6>एंडोक्राइनोलॉजिस्ट</h6>
                      <div class="paragraph">
                        <button><a href="{{ url_for('dp3') }}" style="text-decoration: none;">View More</a></button>
                      </div>
                    </div>
                  </div> 
                </section>
              
               <div class="footer">
                <div class="foot1">
                  <i>संपर्क करें</i>
                  <p>123-456-7890<br>
                  Technonurturers@gmail.com<br></p>
                  <button><a href="https://mail.google.com/">मेल भेजे</a></button>
                </div>
                <div class="foot2">
                  <i>तकनीकी जानकारी</i>
                  <p>
                    प्रमाणपत्र<br>
                    विश्वविद्यालय जुड़े<br>
                    डिग्री की पेशकश की</p>
                </div>
                <div class="foot3">
                  <i>जानकारी</i>
                  <p>हमारे बारे में<br>
                    लिंक<br>
                  </p>
                </div>
                <div class="foot4">
                  <i>मुफ्त में रजिस्टर करें</i>
                  <p>ईमेल का उपयोग करके पंजीकरण करें या लॉग इन करें या लॉग इन बनाने के लिए जाएं और सूचनाएं प्राप्त करने के लिए नए सिरे से पंजीकरण करें.</p>
                  <button><a href="register.html">Register</a></button>
                </div>
                <div class="foot5">
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-facebook-square"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a>
                </div>
              </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>