body{
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    background: url('../static/Now\ here.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.mainheader  {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainheader .logo img{
    width: 250px;
    height: 200px;
    padding-left: 60px;
}

.mainheader nav {
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.mainheader nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

nav a:hover{
    color: mediumturquoise;
}
.mainheader .btn{
    margin-right: 60px;
    visibility: hidden;
}

.mainheader button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: white;
    border: none;
    background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
    border-radius: 10px;
}


.login-form{
    width: 350px;
    top:60%;
    left: 30%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: black 2px solid;
    padding-left: 20px;
    padding-bottom: 15px;
    box-shadow: 5px 10px #1b1a1a;
}

.login-form h1{
    font-size: 30px;
    text-align: center;
    margin: 40px 0;
}


.login-form p{
    font-size: 20px;
    margin: 15px 0;
}

.login-form input{
    padding: 15px;
    border-radius: 3px;
    width: 300px;
}

.login-form #pass{
    margin-top: 20px;
}

#two a{
    font-size: 15px;
}

#one{
    font-size: 15px;
    margin-left: 100px;
}


.login-form button{
    margin-top: 10px;
    padding: 15px;
    width: 140px;
    border-radius: 5px;
    margin-left: 100px;
    font-weight: bold;
    background: lightblue;
}